<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h</name>
  <service>
    <type>{{ item.type }}</type>
    <port>{{ item.port }}</port>
    {% for record in item.txt_records %}
    <txt-record>{{ record }}</txt-record>
    {% endfor %}
  </service>
</service-group>
